<div class="card highlight-card card-small">

    <img class="img-title" src="/assets/iconepuc.png" />

    <span>Contribua e use como referência!</span>

    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
        viewBox="0 0 516.119 1083.632">
        <path id="Path_40" data-name="Path 40"
            d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
            transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>
</div>

<h2>Trabalhos de Conclusão de Curso</h2>
<p>Aqui estão alguns TCCs de Graduação, Pós Graduação Latu Sensu e Pós Graduação Strictu Sensu:</p>

<div class="card-container">
    <a class="card" rel="noopener" (click)="onMenuClick('graduacao')">
        <span>Graduação</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>

    <a class="card" rel="noopener" (click)="onMenuClick('posgraduacaols')">        
        <span>Pós Graduação LS</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>

    <a class="card" rel="noopener" (click)="onMenuClick('posgraduacaoss')">
        <span>Pós Graduação SS</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>
</div>