<div class="card highlight-card card-small">
    <span>Contribua e use como referência!</span>
</div>

<h2>Trabalhos de Conclusão de Curso</h2>
<p>Aqui estão alguns TCCs de Graduação, Pós Graduação Latu Sensu e Pós Graduação Strictu Sensu:</p>

<div class="card-container">
    <a class="card" rel="noopener" (click)="onMenuClick('graduacao')">
        <span>Graduação</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>

    <a class="card" rel="noopener" (click)="onMenuClick('posgraduacaols')">        
        <span>Pós Graduação LS</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>

    <a class="card" rel="noopener" (click)="onMenuClick('posgraduacaoss')">
        <span>Pós Graduação SS</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>
</div>