<div *ngIf="trabalhos.length > 0; else nadaEncontradoBlock">

    <div class="btn-group mb-4" role="group">
        <button type="button" class="btn btn-secondary" (click)="onAlterarVisualizacao(false)">Exibir como cartões</button>
        <button type="button" class="btn btn-secondary" (click)="onAlterarVisualizacao(true)">Exibir como tabela</button>
    </div>

    <div class="table-responsive" *ngIf="mostrarTabela; else cardsBlock">
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Ano</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trabalho of trabalhos">
                    <td>{{trabalho.Titulo}}</td>
                    <td>{{trabalho.Ano}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{trabalho.URI}}" target="_BLANK">Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <ng-template #cardsBlock>
        <div class="card-columns">
            <div class="card" *ngFor="let trabalho of trabalhos">
                <div class="card-body">
                    <h5 class="card-title">{{trabalho.Titulo}}</h5>
                    <p class="card-text">{{trabalho.Ano}} - {{trabalho.Autores}}</p>
                    <a class="btn btn-primary" href="{{trabalho.URI}}" target="_BLANK">Ver</a>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #nadaEncontradoBlock>
    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    <label>Nenhum TCC encontrado!</label>
</ng-template>