<div class="card-columns" *ngIf="trabalhos.length > 0; else nadaEncontradoBlock">
    <div class="card" *ngFor="let trabalho of trabalhos">
        <div class="card-body">
            <h5 class="card-title">{{trabalho.Titulo}}</h5>
            <p class="card-text">{{trabalho.Ano}}</p>
            <a class="btn btn-primary" href="{{trabalho.URI}}" target="_BLANK">Ver</a>
        </div>
    </div>
</div>

<ng-template #nadaEncontradoBlock>
    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    <label>Nenhum TCC encontrado!</label>
</ng-template>